.d{
	height: 10px;
	background-color: black	;
	border-color: 	black;

}
.e{
	position: absolute;
	top: 700px;
	height: 10px;
	width: 100%;
	background-color: 	black;
	border-color: 	black;
}
.z{


	position: absolute;
	top: 1800px;
	height: 10px;
	width: 100%;
	background-color: 	black;
	border-color: 	black;


}


.c{

	top:31px;
	font-family:Papyrus;
	text-align: center;
	padding:1px;
	font-size: 20px;
}

body{
	background: url("bg.jpg") repeat center;
	 
	margin: 0;
	 
	min-width: 950px;
 
 
}
.dog{
	padding: 5px;
	font-family: cooper;
	font-size: 30px;
}
.cat{
	position: absolute;
	font-size: 35px;
	font-family: "Terminal";
	src: url(ayres.ttf);;
	
}
.b{

	left: 20px;
	width: 650px;
	height: 300px;
	top: 350px;
	position: absolute;;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;

}
.f{
	background-color: 	#838b8b;
	left: 20px;
	width: 650px;
	height: 980px;
	top: 750px;
	position: absolute;;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;

}
.z{
	background-color: 	#838b8b;
	left: 20px;
	width: 650px;
	height: 1200px;
	top: 1750px;
	position: absolute;;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
 

}
.first{


	/*background-image: url("");*/
	background-repeat: no-repeat;
	 width: 100%;
	height:800px;
	background-size:cover ;
	background-repeat: no-repeat;
	position: absolute;
}

.second{
	top: 20px;
	position: absolute;
	right	: 350px;
 	opacity: 0.97;
	background-color: 	#838b8b;
	width: 700px;
	height: 3000px;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
}
 
.image{
	position: absolute;
	 top: 10px;	
	right: 260px;	
	background-image: url("aw.jpg");
	border-radius: 100px;
	height: 200px;
	width: 200px;
	 border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
	background-size: cover;
	background-repeat: no-repeat;

}
.pic{
	position: absolute;
	 top: 120px;	
	right: 380px;	
	background-image: url("yay2.png");
 
	height: 200px;
	width: 200px;
	 
	background-size: cover;
	background-repeat: no-repeat;

}
.pic1{
	position: absolute;
	 top: 350px;	
	right: 380px;	
	background-image: url("yay1.png");
 
	height: 200px;
	width: 200px;
	 
	background-size: cover;
	background-repeat: no-repeat;

}
.pic11{
	position: absolute;
	 top: 650px;	
	right: 380px;	
	background-image: url("yay3.png");
 
	height: 200px;
	width: 200px;
	 
	background-size: cover;
	background-repeat: no-repeat;

}
.pic111{
	position: absolute;
	 top: 950px;	
	right: 380px;	
	background-image: url("yay.png");
 
	height: 200px;
	width: 200px;
	 
	background-size: cover;
	background-repeat: no-repeat;

}
.z1{	

		position: absolute;
		left: 270px;
	top: 200px;
	height: 50px;
	width: 350px;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
	border-radius: 10em;
	background-color: 	#7fffd4	;



}
.z11{	

		position: absolute;
		left: 280px;
	top: 430px;
	height: 50px;
	width: 280px;
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
	border-radius: 10em;
	background-color: 	#7fffd4	;



}
.z111{	

		position: absolute;
		left: 280px;
	top: 720px;
	height: 50px;
	width: 240px;
	background-t
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
	border-radius: 10em;
	background-color: 	#7fffd4	;



}
.z1111{	

		position: absolute;
		left: 280px;
	top: 1030px;
	height: 50px;
	width: 180px;
	background-t
	border-bottom: 1px solid #f1f1f1;	
	border-color: black;
	border-style: solid;
	border-radius: 10em;
	background-color: 	#7fffd4	;



}
.a{	
  	text-align: center;
  	left: 20px;
	position: absolute;
	border-color: 	#122f3d;
	border-style: solid;
	top: 250px;
	padding: 10px;
	height:50px;
	width: 630px;
	background-color: 	#7fffd4	;
	border-radius: 10em;

}

h3{

	text-align: left;
	font-family: "Fixedsys";
	src: url(magnifika.otf);;
}